/* Mini-navbar */
.top-navbar {
    position: fixed;
    top: 0;
    left: -30px;
    width: 100%;
    background-color: #1d3b2a; /* Couleur de fond */
    padding: 8px 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100; /* S'assurer qu'elle est au-dessus des autres éléments */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Légère ombre */
}


/* Sélecteur de langue */
.language-select {
    border: none;
    background: #1d3b2a ;
    font-size: 14px;
    margin-right: 15px;
    cursor: pointer;
    color: white;
    
}

/* Bouton mode sombre / clair */
.dark-mode-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

/* Mode sombre */
/* .dark-mode {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode .top-navbar {
    background-color: #333;
    border-bottom: 1px solid #555;
} */
